* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/images/mountainspanorma.png);
    min-height: 870px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
}
.header__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.header h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 4px;
    letter-spacing: 4.8px;
}
.header h5 {
    font-weight: 400;
    letter-spacing: 6.82px;
    margin-bottom: 20px;
}
::placeholder {
    font-size: 14px;
    letter-spacing: 2.8px;
}
button {
    background-color: #5474FD;
    color: #fff;
    text-transform: uppercase;
    min-height: 40px;
    padding: 5px;
}
.header input {
    min-width: 653px;
    text-align: center;
    outline: none;
    border: none;
}
form {
    max-height: 40px;
    display:flex;
    flex-direction: row;
    padding: 2px;
    min-height: 40px;
    margin-top: 30px;
}
input {
    flex-grow:2;
    border:none;
}
.searchbtn {
    min-width: 150px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.4px;
    font-weight: 100px;
    border: 1px solid #fff;
}
.header__scroll {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}
.nav {
    display: flex;
    width: 100%;
    background-color: #5474FD;
    justify-content: space-between;
    min-height: 83px;
    align-items: center;
}
.nav__logo {
    width: 30%;
    text-align: center ;
    letter-spacing: 2.4px;
    font-size: 20px;
}
.nav__links {
    width: 50%;
}
.nav ul {
    display: inline-flex;
    list-style: none;
    text-transform: uppercase ;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    margin-left: 15px;
}
.choose {
    background-image: url(/images/city.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 800px;
}
.choose__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-height: 370px;
}
.choose__text p {
    letter-spacing: 1.6px;
    font-weight: 100;
}
.choose__text h2 {
    font-family: 'Aleo', serif;
    font-weight: 200;
    font-size: 30px;
}
.choose__text button {
    border: none;
    max-width: 130px;
    font-size: 14px;
}
.choose__images {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.choose__images img {
    min-width: 350px;
    min-height: 220px;
}
.choose__image__last {
    align-self: center;
}
.choose__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 100%;
    padding-bottom: 20px;
    min-height: 300px;
}
.choose__box {
    display: flex;
    justify-content: center;
    min-height: 180px;
    align-items: center;
    background-repeat: no-repeat;
    width: 60%;
    background-image: url(/images/Shape\ 1.png);
    background-size: contain;
    background-position: center;
    margin-bottom: -20px;
}
.choose__boxicons {
    display: flex;
    margin-top: -30px;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}
.choose__boxicons i {
    font-size: 45px;
    margin-bottom: 15px;
}
.fa-circle-check {
    color: red;
}
.fa-thumbs-up, 
.fa-magnifying-glass {
    color: #5474FD;
}
.choose__boxicons h2 {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Aleo', serif;
}
.spaincontainer {
    background-image: url(/images/hotel.png);
    min-height: 800px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.spaincontainer__textbox {
    display: flex;
    width: 60%;
    opacity: 0.8;
    min-height: 300px;
}
.spaincontainer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    background-color: rgba(35, 35, 35, 1)
}
.spaincontainerfirst__text p {
    font-weight: 100;
}
.spaincontainer__text h6 {
    font-size: 14px;
}
.spaincontainer__text button {
    max-width: 130px;
    border: none;
}
.spaincontainerlast {
    background-image: url(/images/seacliffs.png);
    min-height: 800px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.spaincontainerlast__textbox {
    display: flex;
    width: 60%;
    opacity: 0.8;
    min-height: 300px;
}
#spaincontainerlast {
    justify-content: flex-end;
}
.testimonials {
    background-image: url(/images/manclimbing.png);
    display: flex;
    justify-content: center;
    background-size: cover;
    min-height: 730px;
    align-items: center;
}
.testimonials__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    background-color: #333333;
}
.testimonials__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 55%;
}
.testimonials__text p {
    margin-top: 15px;
    font-weight: 100;
}
.testimonials__text p span {
    color: #5474FD;
    font-size: 30px;
}
.testimonials__image img {
    width: 100%;
    height: 100%;
}
footer {
    min-height: 271px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    min-height: 150px;
    margin-bottom: 25px;
}
.footerbox h2 {
    font-size: 30px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.footerbox h6 {
    font-size: 17px;
    letter-spacing: 1.6px;
    margin-top: 10px;
    font-weight: 300;
}
.footerbox__icons {
    margin-top: 15px;
}
.footerbox__icons i {
    color: #fff;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.footerbox .blue {
    color: #5474FD;
}
